.image {
    background-image: url('../assets/barraca-80.jpg');
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
} 

.barraca-80 {
    background-image: url('../assets/barraca-80.jpg');
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}